menu "Versatile Express platform type"
	depends on ARCH_VEXPRESS

choice
	prompt "Versatile Express memory map"
	default VEXPRESS_ORIGINAL_MEMORY_MAP

config VEXPRESS_ORIGINAL_MEMORY_MAP
	bool "Original memory map"
	help
	  The original Versatile Express memory map defines a 32-bit physical
	  address space with memory at 0x60000000.

config VEXPRESS_EXTENDED_MEMORY_MAP
	bool "Extended memory map"
	select ARCH_SPARSEMEM_ENABLE if ARM_LPAE
	help
	  Versatile Express core tiles supporting LPAE can address
	  memory above 4GB. This extended memory map has 4GB of RAM
	  at 0x800000000 (32GB). The bottom 2GB of this bank is mirrored
	  at 0x80000000 (2GB) so that non-LPAE tiles can still function
	  with the bottom 32-bits of the memory map.

config VEXPRESS_ELBA_MEMORY_MAP
	bool "ELBA memory map"
	help
	  ELBA Logic Tile maps DDR2 memory from 0x00000000. Choose this
	  if you want to use ELBA tile.

endchoice

config ARCH_VEXPRESS_CA9X4
	bool "Versatile Express Cortex-A9x4 tile"
	depends on VEXPRESS_ORIGINAL_MEMORY_MAP
	select CPU_V7
	select ARM_GIC

config ARCH_VEXPRESS_CA15X4
	bool "Versatile Express Cortex-A15x4 tile"
	depends on VEXPRESS_EXTENDED_MEMORY_MAP
	select CPU_V7
	select ARM_GIC

config ARCH_VEXPRESS_LT_ELBA
	bool "Versatile Express ELBA logic tile"
	depends on VEXPRESS_ELBA_MEMORY_MAP
	select CPU_V7
	select ARM_GIC
	select PL330

config VEXPRESS_HIGH_PHYS_OFFSET
	bool "High physical base address for the Versatile Express platform"
	depends on MMU
	default n
	help
	  Versatile Express boards have the RAM available at
	  0x60000000, 256MB of which being mirrored at 0x00000000.
	  This option allows the memory to be accessed contiguously
	  at the high physical offset.

config VEXPRESS_USE_TILE_CLCD
	bool "Use the CLCD Controller on the daughterboard"
	default y
	help
	  There are two CLCD controllers available on many Versatile
	  Express systems, one on the motherboard and one on the daughterboard.
	  This option controls which of these the kernel uses.

config VEXPRESS_USE_TILE_UART0
	bool "Use the serial port on the daugherboard"
	depends on ARCH_VEXPRESS_LT_ELBA
	default n
	help
	  Some daughterboards have their own serial port and do not
	  depend on the motherboard for output. Select this option
	  if you want to use them in preference to the motherboard
	  serial port.

endmenu
