# some configs have this default to 2, make sure it's 8
CONFIG_NR_CPUS=8

CONFIG_BIG_LITTLE=y
CONFIG_MCPM=y
CONFIG_EXYNOS5420_MCPM=y

# uncomment to disable switcher
# or just: echo 0 >/sys/kernel/bL_switcher/active
CONFIG_BL_SWITCHER=n
CONFIG_BL_SWITCHER_DUMMY_IF=n

# sched topology
CONFIG_SCHED_MC=y
