#
# Testing CPM support
#

menuconfig CPM_TESTING
	bool "Testing support"
	default n
	help 
	  Say Y here to enable CPM testing code.
	  
if CPM_TESTING

config CPM_TEST_DUMMY
	tristate "Dummy test drivers"
	help
	  Say M to enable the generation of a dummy CPM test module.
	  This module allows to define an arbitrary number of platform devices
	  which are registered to CPM and can be used to test constraint
	  assertion and distribute agreement code.
	  
	  The module will be called cpm_test_dummy.ko
	  If in doubt, say M.

config CPM_TEST_BANDWIDTH
        tristate "Bandwidth use-case test driver"
        help
	  The module will be called cpm_test_bandwidth.ko
          If in doubt, say M.

config CPM_TEST_MP3GSM
        tristate "MP3-GSM alsa buffer use-case test driver" 
        help
	  The module will be called cpm_test_mp3gsm.ko
          If in doubt, say M.


endif # CPM_TESTING

