#
# Testing CPM support
#

menuconfig CPM_TESTING
	bool "Enable Testing support"
	default n
	---help--- 
	  Say Y here to enable CPM support.
	  
if CPM_TESTING

config CPM_BUDDY
	tristate "buddy test driver"
	depends on EXPERIMENTAL
	help
	  If you say yes todo.

config CPM_GOVTEST
	tristate "governor test driver"
	depends on EXPERIMENTAL
	help
	  Say M to enable the generation of a governor test module.
	  The module will be called cpm_govtest.ko

config CPM_BANDWIDTH
        tristate "bandwidth test driver"
        depends on EXPERIMENTAL
        help
          If you say yes todo.

config CPM_ALSA
        tristate "alsa buffer test driver" 
        depends on EXPERIMENTAL
        help
          If you say yes todo. 

endif # CPM_TESTING

