/dts-v1/;

#include <dt-bindings/interrupt-controller/arm-gic.h>

/ {
	model = "Armstrong";
	compatible = "arm,armstrong";
	interrupt-parent = <&gic>;
	#address-cells = <2>;
	#size-cells = <2>;

	aliases {
		serial0 = &soc_uart0;
	};

	cpus {
		#address-cells = <2>;
		#size-cells = <0>;

		cpu-map {
			cluster1 {
				core0 {
					cpu = <&CPU4>;
				};
				core1 {
					cpu = <&CPU5>;
				};
				core2 {
					cpu = <&CPU6>;
				};
				core3 {
					cpu = <&CPU7>;
				};
			};

			cluster0 {
				core0 {
					cpu = <&CPU0>;
				};
				core1 {
					cpu = <&CPU1>;
				};
				core2 {
					cpu = <&CPU2>;
				};
				core3 {
					cpu = <&CPU3>;
				};
			};
		};

		CPU4:cpu@100 {
			device_type = "cpu";
			compatible = "arm,cortex-a53","arm,armv8";
			reg = <0x0 0x100>;
			enable-method = "psci";
			clocks = <&CPUClk 1>;
			clock-names = "vlittle";
		};

		CPU5:cpu@101 {
			device_type = "cpu";
			compatible = "arm,cortex-a53","arm,armv8";
			reg = <0x0 0x101>;
			enable-method = "psci";
			clocks = <&CPUClk 1>;
			clock-names = "vlittle";
		};

		CPU6:cpu@102 {
			device_type = "cpu";
			compatible = "arm,cortex-a53","arm,armv8";
			reg = <0x0 0x102>;
			enable-method = "psci";
			clocks = <&CPUClk 1>;
			clock-names = "vlittle";
		};

		CPU7:cpu@103 {
			device_type = "cpu";
			compatible = "arm,cortex-a53","arm,armv8";
			reg = <0x0 0x103>;
			enable-method = "psci";
			clocks = <&CPUClk 1>;
			clock-names = "vlittle";
		};

		CPU0:cpu@0 {
			device_type = "cpu";
			compatible = "arm,maia","arm,cortex-a57","arm,armv8";
			reg = <0x0 0x0>;
			enable-method = "psci";
			clocks = <&CPUClk 0>;
			clock-names = "vbig";
		};

		CPU1:cpu@1 {
			device_type = "cpu";
			compatible = "arm,maia","arm,cortex-a57","arm,armv8";
			reg = <0x0 0x1>;
			enable-method = "psci";
			clocks = <&CPUClk 0>;
			clock-names = "vbig";
		};

		CPU2:cpu@2 {
			device_type = "cpu";
			compatible = "arm,maia","arm,cortex-a57","arm,armv8";
			reg = <0x0 0x2>;
			enable-method = "psci";
			clocks = <&CPUClk 0>;
			clock-names = "vbig";
		};

		CPU3:cpu@3 {
			device_type = "cpu";
			compatible = "arm,maia","arm,cortex-a57","arm,armv8";
			reg = <0x0 0x3>;
			enable-method = "psci";
			clocks = <&CPUClk 0>;
			clock-names = "vbig";
		};
	};

	memory@80000000 {
		device_type = "memory";
		reg =	<0x0 0x80000000 0x0 0x7f000000>,
			<0x8 0x80000000 0x1 0x80000000>;
	};

	gic: interrupt-controller@2c000000 {
		compatible = "arm,gic-v3";
		#interrupt-cells = <3>;
		#address-cells = <0>;
		interrupt-controller;
		reg =	<0x0 0x2c200000 0x0 0x10000>,	// GICD
			<0x0 0x2c300000 0x0 0x100000>,	// GICR
			<0x0 0x2c000000 0x0 0x2000>,	// GICC
			<0x0 0x2c010000 0x0 0x1000>,	// GICH
			<0x0 0x2c020000 0x0 0x2000>;	// GICV
		interrupts = <GIC_PPI 9 (GIC_CPU_MASK_SIMPLE(8) |
				IRQ_TYPE_LEVEL_HIGH)>;
	};

	timer {
		compatible = "arm,armv8-timer";
		interrupts = <GIC_PPI 13 (GIC_CPU_MASK_SIMPLE(8) |
			     IRQ_TYPE_LEVEL_HIGH)>,
			     <GIC_PPI 14 (GIC_CPU_MASK_SIMPLE(8) |
			     IRQ_TYPE_LEVEL_HIGH)>,
			     <GIC_PPI 11 (GIC_CPU_MASK_SIMPLE(8) |
			     IRQ_TYPE_LEVEL_HIGH)>,
			     <GIC_PPI 10 (GIC_CPU_MASK_SIMPLE(8) |
			     IRQ_TYPE_LEVEL_HIGH)>;
	};

	pmu {
		compatible = "arm,armv8-pmuv3";
		interrupts = <GIC_SPI 60 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI 61 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI 62 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI 63 IRQ_TYPE_LEVEL_HIGH>;
	};

	psci {
		compatible = "arm,psci";
		method = "smc";
		cpu_suspend = <0xc4000001>;
		cpu_off = <0x84000002>;
		cpu_on = <0xc4000003>;
		migrate = <0xc4000005>;
		sys_poweroff = <0x84000008>;
		sys_reset = <0x84000009>;
	};

	clocks {
		compatible = "arm,scpi-clks";

		CPUClk: scpi_clocks@0 {
			compatible = "arm,scpi-clk-indexed";
			#clock-cells = <1>;
			clock-indices = <0x0 0x1 0x2>;
			clock-output-names = "vbig", "vlittle", "vgpu";
		};
	};

	cpufreq {
		compatible = "arm,scpi-cpufreq";
	};

	clk_uart: refclk72738khz {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <7273800>;
		clock-output-names = "uartclk";
	};

	clk_apb_mid: clk24mhz {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <24000000>;
		clock-output-names = "clockmid";
	};

	clk_apb: refclk100mhz {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <100000000>;
		clock-output-names = "apb_pclk";
	};

	dma@0x7ff00000 {
		compatible = "arm,pl330", "arm,primecell";
		reg = <0x0 0x7ff00000 0x0 0x1000>;
		#dma-cells = <1>;
		#dma-channels = <8>;
		#dma-requests = <32>;
		interrupts =	<GIC_SPI  88 IRQ_TYPE_LEVEL_HIGH>,
				<GIC_SPI  89 IRQ_TYPE_LEVEL_HIGH>,
				<GIC_SPI  90 IRQ_TYPE_LEVEL_HIGH>,
				<GIC_SPI  91 IRQ_TYPE_LEVEL_HIGH>,
				<GIC_SPI 108 IRQ_TYPE_LEVEL_HIGH>,
				<GIC_SPI 109 IRQ_TYPE_LEVEL_HIGH>,
				<GIC_SPI 110 IRQ_TYPE_LEVEL_HIGH>,
				<GIC_SPI 111 IRQ_TYPE_LEVEL_HIGH>;
		clocks = <&clk_apb>;
		clock-names = "apb_pclk";
		status = "secure";
	};

	hdlcd@7ff60000 {
		compatible = "arm,hdlcd";
		reg = <0 0x7ff60000 0 0x1000>;
		interrupts = <0 85 4>;

		display-timings {
			native-mode = <&timing0>;
			timing0: timing@0 {
				/* 1024 x 768 framebufer, standard VGA timings */
				clock-frequency = <65000>;
				hactive = <1024>;
				vactive = <768>;
				hfront-porch = <24>;
				hback-porch = <160>;
				hsync-len = <136>;
				vfront-porch = <3>;
				vback-porch = <29>;
				vsync-len = <6>;
			};
		};
	};

	soc_uart0: uart@0x7ff80000 {
		compatible = "arm,pl011", "arm,primecell";
		reg = <0x0 0x7ff80000 0x0 0x1000>;
		interrupts = <GIC_SPI 83 IRQ_TYPE_LEVEL_HIGH>;
		clocks = <&clk_uart &clk_apb>;
		clock-names = "uartclk", "apb_pclk";
	};

	memory-controller@7ffd0000 {
		compatible = "arm,pl354", "arm,primecell";
		reg = <0x0 0x7ffd0000 0x0 0x1000>;
		interrupts = <GIC_SPI 86 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI 87 IRQ_TYPE_LEVEL_HIGH>;
		clocks = <&clk_apb>;
		clock-names = "apb_pclk";
		chip5-memwidth = <0x10>;
		status = "secure";
	};

	smb {
		compatible = "simple-bus";
		#address-cells = <2>;
		#size-cells = <1>;
		/* chip-select offset parent-hi parent-lo size */
		ranges =	<0 0 0 0x08000000 0x4000000>,
				<1 0 0 0x14000000 0x4000000>,
				<2 0 0 0x18000000 0x4000000>,
				<3 0 0 0x1c000000 0x4000000>,
				<4 0 0 0x0c000000 0x4000000>,
				<5 0 0 0x10000000 0x4000000>;
		#interrupt-cells = <1>;
		interrupt-map-mask = <0x0 0x0 0xf>;
		interrupt-map =	<0 0  0 &gic GIC_SPI  68 IRQ_TYPE_LEVEL_HIGH>,
				<0 0  1 &gic GIC_SPI  69 IRQ_TYPE_LEVEL_HIGH>,
				<0 0  2 &gic GIC_SPI  70 IRQ_TYPE_LEVEL_HIGH>,
				<0 0  3 &gic GIC_SPI 160 IRQ_TYPE_LEVEL_HIGH>,
				<0 0  4 &gic GIC_SPI 161 IRQ_TYPE_LEVEL_HIGH>,
				<0 0  5 &gic GIC_SPI 162 IRQ_TYPE_LEVEL_HIGH>,
				<0 0  6 &gic GIC_SPI 163 IRQ_TYPE_LEVEL_HIGH>,
				<0 0  7 &gic GIC_SPI 164 IRQ_TYPE_LEVEL_HIGH>,
				<0 0  8 &gic GIC_SPI 165 IRQ_TYPE_LEVEL_HIGH>,
				<0 0  9 &gic GIC_SPI 166 IRQ_TYPE_LEVEL_HIGH>,
				<0 0 10 &gic GIC_SPI 167 IRQ_TYPE_LEVEL_HIGH>,
				<0 0 11 &gic GIC_SPI 168 IRQ_TYPE_LEVEL_HIGH>,
				<0 0 12 &gic GIC_SPI 169 IRQ_TYPE_LEVEL_HIGH>,
				<0 0 13 &gic GIC_SPI  73 IRQ_TYPE_LEVEL_HIGH>,
				<0 0 14 &gic GIC_SPI  74 IRQ_TYPE_LEVEL_HIGH>;

		mb_eth25mhz: clk25mhz {
			compatible = "fixed-clock";
			#clock-cells = <0>;
			clock-frequency = <25000000>;
			clock-output-names = "ethclk25mhz";
		};

		motherboard {
			model = "V2M-Armstrong";
			arm,hbi = <0x252>;
			arm,vexpress,site = <0x0>;
			arm,v2m-memory-map = "rs1";
			compatible = "arm,vexpress,v2p-p1", "simple-bus";
			#address-cells = <2>;
			#size-cells = <1>;
			ranges;

			mb_fixed_3v3: fixedregulator@0 {
				compatible = "regulator-fixed";
				regulator-name = "3V3";
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3300000>;
				regulator-always-on;
				status = "ok";
			};

			ethernet@2,00000000 {
				compatible = "smsc,lan9118", "smsc,lan9115";
				reg = <0x2 0x0 0x10000>;
				interrupts = <3>;
				phy-mode = "mii";
				reg-io-width = <0x4>;
				smsc,irq-active-high;
				smsc,irq-push-pull;
				clocks = <&mb_eth25mhz>;
				vdd33a-supply = <&mb_fixed_3v3>;
				vddvario-supply = <&mb_fixed_3v3>;
			};

			iofpga@3,00000000 {
				compatible = "arm,amba-bus", "simple-bus";
				#address-cells = <1>;
				#size-cells = <1>;
				ranges = <0x0 0x3 0x0 0x200000>;

				mmci@050000 {
					compatible = "arm,pl180", "arm,primecell";
					reg = <0x050000 0x1000>;
					interrupts = <13 14>;
					non-removable;
					max-frequency = <12000000>;
					vmmc-supply = <&mb_fixed_3v3>;
					clocks = <&clk_apb_mid &clk_apb>;
					clock-names = "mclk", "apb_pclk";
				};
			};
		};
	};
};
