/*
 * Hi3660 specific energy cost model data. There are no unit
 * requirements for the data. Data can be normalized to any
 * reference point, but the normalization must be consistent.
 * That is, one bogo-joule/watt must be the same quantity for
 * all data, but we don't care what it is.
 */

energy-costs {
	CPU_COST_A72_2: core-cost2 {
		busy-cost-data = <
			1024    2848
		>;
		idle-cost-data = <
			0
			0
			0
			0
		>;
	};

	CLUSTER_COST_A72_2: cluster-cost2 {
		busy-cost-data = <
			1024   0
		>;
		idle-cost-data = <
			0
			0
			0
			0
		>;
	};

	CPU_COST_A72_1: core-cost1 {
		busy-cost-data = <
			390    404
			615    861
			782    1398
			915    2200
		>;
		idle-cost-data = <
			0
			0
			0
			0
		>;
	};

	CLUSTER_COST_A72_1: cluster-cost1 {
		busy-cost-data = <
                        390    0
                        615    0
                        782    0
                        915    0
		>;
		idle-cost-data = <
			0
			0
			0
			0
		>;
	};


	CPU_COST_A53: core-cost0 {
		busy-cost-data = <
			133    87
			250    164
			351    265
		>;
		idle-cost-data = <
			0
			0
			0
			0
		>;
	};

	CLUSTER_COST_A53: cluster-cost0 {
		busy-cost-data = <
			133   12
			250   22
			351   36
		>;
		idle-cost-data = <
			0
			0
			0
			0
		>;
	};
};
