/*
 * Hi3660 specific energy cost model data. There are no unit
 * requirements for the data. Data can be normalized to any
 * reference point, but the normalization must be consistent.
 * That is, one bogo-joule/watt must be the same quantity for
 * all data, but we don't care what it is.
 */

energy-costs {
	CPU_COST_A72_2: core-cost2 {
		busy-cost-data = <
			1024    804
		>;
		idle-cost-data = <
			0
			0
			0
			0
		>;
	};

	CLUSTER_COST_A72_2: cluster-cost2 {
		busy-cost-data = <
			1024   221
		>;
		idle-cost-data = <
			0
			0
			0
			0
		>;
	};

	CPU_COST_A72_1: core-cost1 {
		busy-cost-data = <
			511    243
			805    500
		>;
		idle-cost-data = <
			0
			0
			0
			0
		>;
	};

	CLUSTER_COST_A72_1: cluster-cost1 {
		busy-cost-data = <
			511   102
			805   124
		>;
		idle-cost-data = <
			0
			0
			0
			0
		>;
	};


	CPU_COST_A53: core-cost0 {
		busy-cost-data = <
			174    28
			327    70
			460    124
		>;
		idle-cost-data = <
			0
			0
			0
			0
		>;
	};

	CLUSTER_COST_A53: cluster-cost0 {
		busy-cost-data = <
			174   12
			327   22
			460   36
		>;
		idle-cost-data = <
			0
			0
			0
			0
		>;
	};
};
