/*
 * Copyright (c) 2014 MediaTek Inc.
 * Author: Eddie Huang <eddie.huang@mediatek.com>
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */

/dts-v1/;
#include "mt8173-oak.dtsi"

/ {
	model = "Mediatek Oak rev0 board";
	compatible = "google,oak-rev0", "google,oak", "mediatek,mt8173";

	backlight_lcd: backlight_lcd {
		enable-gpios = <&pio6397 23 1>;
	};

	sound {
		compatible = "mediatek,mt8173-max98090";
		mediatek,audio-codec = <&max98090>;
		reg-vgp1-supply = <&mt6397_vgp1_reg>;
		reg-vgp4-supply = <&mt6397_vgp4_reg>;
		pinctrl-names = "default";
		pinctrl-0 = <&aud_i2s2>;
		status = "okay";
	};
};

&i2c0 {
	max98090: audio-codec@10 {
		compatible = "maxim,max98090";
		reg = <0x10>;
		interrupt-parent = <&pio>;
		interrupts = <9 IRQ_TYPE_EDGE_FALLING>;
		pinctrl-names = "default";
		pinctrl-0 = <&max98090_irq>;
	};
};

&i2c4 {
	trackpad@15 {
		interrupts = <7 IRQ_TYPE_LEVEL_LOW>;
	};
};

&pio {
	max98090_irq: max98090_irq {
		pins1 {
			pinmux = <MT8173_PIN_9_EINT9__FUNC_GPIO9>;
			bias-pull-up;
		};
	};
};
