/*
 * Copyright (c) 2014 MediaTek Inc.
 * Author: Eddie Huang <eddie.huang@mediatek.com>
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */

/dts-v1/;
#include "mt8173-oak.dtsi"

/ {
	model = "Mediatek Oak rev1 board";
	compatible = "google,oak-rev1", "google,oak", "mediatek,mt8173";

	sound {
		compatible = "mediatek,mt8173-rt5650-rt5676";
		mediatek,audio-codec = <&rt5650 &rt5676>;
		rt5650-clk-en-gpios = <&pio 16 GPIO_ACTIVE_HIGH>;
		rt5676-clk-en-gpios = <&pio 17 GPIO_ACTIVE_HIGH>;
		reg-vgp1-supply = <&mt6397_vgp1_reg>;
		pinctrl-names = "default";
		pinctrl-0 = <&aud_i2s2>;
		status = "okay";
	};
};

&i2c0 {
	rt5650: audio-codec@1a {
		compatible = "realtek,rt5650";
		reg = <0x1a>;
		interrupt-parent = <&pio>;
		interrupts = <3 IRQ_TYPE_EDGE_BOTH>;
		pinctrl-names = "default";
		pinctrl-0 = <&rt5650_irq>;
		status = "okay";
	};

	rt5676: audio-codec@2c {
		compatible = "realtek,rt5676";
		reg = <0x2c>;
		interrupt-parent = <&pio>;
		interrupts = <2 IRQ_TYPE_EDGE_BOTH>;
		pinctrl-names = "default";
		pinctrl-0 = <&rt5676_irq>;
		status = "okay";
	};
};

&pio {
	rt5650_irq: rt5650_irq {
		pins1 {
			pinmux = <MT8173_PIN_3_EINT3__FUNC_GPIO3>;
			bias-pull-down;
		};
	};

	rt5676_irq: rt5676_irq {
		pins1 {
			pinmux = <MT8173_PIN_2_EINT2__FUNC_GPIO2>;
			bias-pull-down;
		};
	};
};

&i2c_tunnel {
	charger: bq24773@6a {
		compatible = "ti,bq24773";
		reg = <0x6a>;
		monitor-mode;
		ti,charger-detect-gpio = <&pio 13 GPIO_ACTIVE_HIGH>;
	};
};

&pwrap {
	pmic: mt6397 {
		mt6397regulator: mt6397regulator {
			mt6397_vpca7_reg: buck_vpca7 {
				regulator-always-on;
			};
		};
	};
};
